.bio, .page-template-template-bio {
  background: url("../images/vita_background.jpg") no-repeat top right;

  article {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .bio-content {
    color: $white;
    overflow: scroll;
    background-color: $orange;
    height: 455px;
    width: 730px;
    //margin-top: 70px;
    //margin-left: 70px;
    z-index: 1;
    padding: 0 15px 15px;
  }

  img {
    z-index: 0;
    margin-top: 30px;
    width: 330px;
    max-width: 80%;
    height: auto;
    right: 40px;
    left: 50px;
    margin-bottom: 10px;

  }
  @media screen and (min-width: 768px) {
    img {
      width: 450px;
      position: absolute;
    }

    .bio-content {
      clip-path: url('#svgPath');
      padding: 0;
      padding-right: 25px;

      > * {
        margin-left: 80px;
        width: 80%;
      }
      > :first-child {
        margin-top: 80px;
      }
      > :last-child {
        margin-bottom: 330px;
      }
    }
  }

}