.button-museum {
  bottom: -16px;
  right: 10px;
  content: "X";
  height: 30px;
  width: auto;
  position: absolute;
  border: 10px solid $orange;
  text-align: center;
  line-height: 30px;
  color: $orange;
  font-weight: bold;
  font-size: 16px;
  border-left: none;
  padding: 0 10px;
  &:hover {
    color: $black;
  }
  a {
    cursor: grabbing;
  }
}