.the-home {
  max-height: 100vh;
  margin: 0;
  background-color: #fcfcfc;

  .wrap.container {
    background: url("../images/home_background_tiny.png") no-repeat center;
    background-size: contain;

  }

  .nav {
    //width: 143vh;
    margin: auto;
    position: relative;
    max-width: 100%;
  }

  .menu-item {
    //background: rgba(255, 0, 0, 0.36);
    display: inline-block;
    position: absolute;

    a {
      display: inline-block;
      border: 4px $orange solid;
      font-weight: bold;
      padding: 4px 6px;
      color: $orange;
      text-transform: uppercase;
      text-decoration: none;
      &:hover {
        color: $black;
      }
    }
  }

  .menu-projets, .menu-projects {
    bottom: 25%;
    left: 18%
  /**  width: 30%;
    height: 53%;
    margin-left: 6%;
    margin-top: 16%;
    a {
      margin-top: 80%;
      margin-left: 20%;
    }
    */
  }

  .menu-concerts {
    right: 20%;
    top: 46%;
   /** width: 22%;
    height: 35%;
    margin-left: 58%;
    margin-top: 14%;
    a {
      margin-top: 80%;
      margin-left: 20%;
    } **/
  }

  .menu-bio {
    top: 18%;
    left: 45%;
   /** width: 14%;
    height: 27%;
    margin-left: 37%;
    margin-top: 4%;
    a {
      margin-top: 100%;
      margin-left: 23%;
    } **/
  }

  .menu-contact {
    bottom: 14%;
    right: 40%;
  /**  width: 44%;
    height: 19%;
    margin-left: 16%;
    margin-top: 45%;
    a {
      right: 6%;
      top: 21%;
      position: absolute;
    }**/
  }

  .menu-actus, .menu-hot-news {
    top: 56%;
    left: 44%;
    /** width: 44%;
    height: 19%;
    margin-left: 6%;
    margin-top: 36%;
    a {
      right: 6%;
      top: 21%;
      position: absolute;
    } **/
  }

  .nav-primary {
    width: 80%;
    //background-color: rgba(0, 0, 255, 0.2);
    height: 70%;
    position: relative;
    margin: auto;
    z-index: 0;
    pointer-events: auto;
  }

  header {
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    //max-width: 90vw;
    pointer-events: none;

    .container, .nav, ul {
      height: 100%;
    }
    .container {
      display: flex;
    }
  }

  .brand {
    z-index: 1;
    position: relative;
  }

}