.blog {
  background: url("../images/news_background.jpg") no-repeat top left;
  background-size: auto 90vh;
  background-position: 0 -70px;
  .articles_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 80px auto 0;
  }

  article {
    header {
      margin-left: 30px;
      margin-top: 20px;
      .entry-title {
        color: white;
      }
    }
    > div {
      margin-left: 30px;
      width: 85%;
    }

    .entry-summary {
      font-size: 14px;
    }
    .read-more {
      color: white;
    }
  }

}

.article-clipped {
  background: url("../images/news_bg_2.png") no-repeat;
  margin: 0 10px 30px;
  width: 350px;
  background-size: cover;
  padding-bottom: 15px;
  &.category-important {
    background-image: url("../images/news_bg_3.png");
  }
}

.single-post {
  background: url("../images/news_background.jpg") no-repeat top left;
  background-size: auto 90vh;
  background-position: 0 -70px;
  color: $orange;

  /*.content {
    display: flex;
    height: 100%;
    align-items: flex-end;
    justify-content: center;
  }*/

  article {
    /*   display: flex;
       margin-bottom: 30px;
       align-items: flex-end;
       flex-wrap: wrap;
    */
    display: flex;
    align-items: flex-end;
    position: absolute;
    bottom: 40px;
    header, .entry-content {
      width: 45vw;
    }

    header {
      text-align: left;
      margin-bottom: 30px;
      }

    .entry-content {
      font-size: 17px;
      font-weight: bold;
      height: 100%;
      max-height: 74vh;
      padding: 30px;
      background-color: rgba(255, 255, 255, 0.8);
      overflow-y: auto;
    }

  }

  @media screen and (max-width: 1024px) {
    article {
      .entry-content {
        width: 35vw;
      }
    }
  }

  @media screen and (max-width: 768px) {
    article {
      align-items: center;
      flex-direction: column;
      .entry-content {
        width: 80%;
        max-height: 60vh;
      }
    }
  }
}