body {
  background: #f2f3f4;
}

/**** Concerts Archive ****/
.post-type-archive-concert {

  .concerts {

    display: flex;
    justify-content: space-between;
    align-items: center;

    &_list {
      background-color: orange;
      flex-basis: 753px;
      height: 430px;
      padding: 70px 140px;

      .concert_year {
        &:last-child {
          margin-bottom: 190px;
        }
      }
    }

    .svg-clipped {
      -webkit-clip-path: url(#svgPath);
      clip-path: url(#svgPath);
      overflow: scroll;
    }

    &_archive-container {
      background-color: orange;
    }
  }

}